@use 'variables' as *;
@use 'mixins' as *;
@use 'bem-mixin' as *;
@use 'bem-class-selectors' as *;
@use 'functions' as *;

:root {
	--font-family-body: sans-serif;
	--font-family-accent: sans-serif;
	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-md: #{step-up(1)};
	--font-size-lg: #{step-up(2)};
	--font-size-xl: #{step-up(3)};
	--font-size-xxl: #{step-up(4)};
	--font-size-display: #{step-up(6)};

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--button-border-radius: 0;

	--base-font-size: var(--font-size-sm);
	--typescale: 1.25;

	@include media-breakpoint-up('contained') {
		--base-font-size: 1rem;
		--typescale: 1.33;
	}
}

@view-transition {
	navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;

	@media (prefers-reduced-motion: reduce) {
		animation-duration: 0ms;
	}
}


html {
	font-size: var(--base-font-size);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family-body), sans-serif;
	line-height: 1.4;
}

h1, h2, h3 {
	line-height: 1.2;
}

h1, h2, h3, h4 {
	color: var(--theme-color);
}

h1 {
	font-size: var(--font-size-xl);

	&.is-style-accent {
		font-size: calc((1rem * 1.25) * var(--typescale) * var(--typescale) * var(--typescale));
	}
}

h2 {
	font-size: var(--font-size-lg);

	&.is-style-accent {
		font-size: calc((1rem * 1.25) * var(--typescale) * var(--typescale));
	}
}

h3 {
	font-size: var(--font-size-md);

	&.is-style-accent {
		font-size: calc((1rem * 1.25) * var(--typescale));
	}
}

h1 {
	margin-block: var(--spacing-md);

	@include container-width-up('narrow') {
		margin-block: var(--spacing-lg);

		&:first-child {
			margin-block-start: 0;
		}
	}
}

h2, h3 {
	margin-block: var(--spacing-md);

	&:first-child {
		margin-block-start: 0;
	}
}

.separator + h2 {
	margin-block-start: 0;
}

p, ul, ol {
	margin-block: var(--spacing-sm);

	&:first-child {
		margin-block-start: 0;
	}

	&:last-child {
		margin-block-end: 0;
	}
}

ul, ol {
	margin-inline-start: var(--spacing-md);
	padding: 0;

	li {
		margin-block-end: var(--spacing-xxs);
	}
}

a:not(.button),
a:not(#{class-ends-with('__button')}) {
	color: inherit;
	@include link-underline-on-hover();
	text-decoration-color: currentColor;

	&:hover, &:focus, &:active {
		color: var(--theme-color);
	}
}

small {
	font-size: var(--font-size-xs);
}

.is-style-accent {
	font-family: var(--font-family-accent);
	font-weight: normal;
	line-height: 1;
}

h1, h2, h3 {
	&.is-style-small {
		font-size: 1rem;
		text-transform: uppercase;
	}
}

p:empty {
	display: none;
}

.is-style-lead,
.lead {
	font-weight: var(--font-weight-bold);
	font-size: calc(1rem * var(--typescale));
	line-height: 1.2;
	color: var(--theme-color);

	a {
		color: inherit;

		&:hover, &:focus, &:active {
			color: color-mix(in hsl, currentColor, black 20%);
		}
	}
}

blockquote {
	text-align: center;
	padding: var(--spacing-md);
	margin-block: var(--spacing-lg);
	font-weight: var(--font-weight-semibold);
	font-size: 1.125rem;
	color: var(--theme-color);

	&:last-child {
		margin-block-end: 0;
	}

	&:only-child {
		padding-block: 0;
	}

	> p {
		padding-block: var(--spacing-sm);
	}
}

form {
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="url"],
	input[type="number"],
	select,
	textarea {
		font-size: 1rem;
		padding: var(--spacing-xs) var(--spacing-sm);
		font-family: var(--font-family-body);
		border: 1px solid lighten('dark', 50%);
		transition: all 0.2s ease-in-out;
		background: var(--color-white);

		&:focus {
			border-color: var(--color-secondary);
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="url"],
	input[type="number"],
	select {
		min-height: 2.5rem;
		display: flex;
		align-items: center;
		align-content: center;
	}

	input[type="checkbox"],
	input[type="radio"] {
		accent-color: var(--color-secondary);
	}

	select {
		cursor: pointer;
	}

	input[type="submit"],
	input[type="button"] {
	}
}

figure {
	figcaption {
		font-size: var(--font-size-sm);
	}
}

.inline-message {
	color: var(--theme-color);
}

// See packages/core/src/base/types/AspectRatio for what these should be
[data-aspect-ratio="square"] {
	aspect-ratio: 1/1;
}

[data-aspect-ratio="standard"] {
	aspect-ratio: 4/3;
}

[data-aspect-ratio="portrait"] {
	aspect-ratio: 3/4;
}

[data-aspect-ratio="wide"] {
	aspect-ratio: 16/9;
}

[data-aspect-ratio="classic"] {
	aspect-ratio: 3/2;
}

[data-aspect-ratio="classic_portrait"] {
	aspect-ratio: 2/3;
}

[data-aspect-ratio="cinematic"] {
	aspect-ratio: 21/9;
}

[data-aspect-ratio="cinemascope"] {
	aspect-ratio: 2.35/1;
}