@use 'variables' as *;
@forward './bem-mixin';
@forward './bem-class-selectors';

@mixin container-width-up($widthName, $containerName: 'layout-section') {
	// Workaround for browsers that don't support the var-based min-width
	@container #{$containerName} (min-width: #{map-get($widths, $widthName)}) {
		@content;
	}
	// end workaround

	@container #{$containerName} (min-width: var(--width-#{$widthName})) {
		@content;
	}
}

@mixin container-width-down($widthName, $containerName: 'layout-section') {
	// Workaround for browsers that don't support the var-based min-width
	@container #{$containerName} (max-width: #{map-get($widths, $widthName)}) {
		@content;
	}
	// end workaround

	@container  #{$containerName} (max-width: var(--width-#{$widthName})) {
		@content;
	}
}

@mixin media-breakpoint-up($widthName) {
	@media (min-width: #{map-get($widths, $widthName)}) {
		@content;
	}
}

@mixin media-breakpoint-down($widthName) {
	@media (max-width: #{map-get($widths, $widthName)}) {
		@content;
	}
}

@mixin section-margin() {
	margin-block: var(--spacing-lg);

	@include media-breakpoint-up('narrower') {
		margin-block: var(--spacing-xl);
	}

	@include media-breakpoint-up('wide') {
		margin-block: var(--spacing-xxl);
	}
}

// Mixin for standard padding between sections
@mixin section-padding() {
	padding-block: var(--spacing-lg);

	@include media-breakpoint-up('narrower') {
		padding-block: var(--spacing-xl);
	}

	@include media-breakpoint-up('wide') {
		padding-block: var(--spacing-xxl);
	}
}

// Mixin to add equal padding on the sides of a section in select cases,
// while keeping its content aligned with that of elements that do not have this
@mixin section-padding-inline() {
	padding-inline: var(--spacing-md);
	box-sizing: content-box;
	transform: translateX(calc(var(--spacing-md) * -1));

	@include media-breakpoint-up('narrower') {
		padding-inline: var(--spacing-lg);
		transform: translateX(calc(var(--spacing-lg) * -1));
	}

	@include media-breakpoint-up('wide') {
		padding-inline: var(--spacing-xl);
		transform: translateX(calc(var(--spacing-xl) * -1));
	}
}

// Small padding for nested elements like groups and columns
@mixin nested-padding() {
	padding: var(--spacing-md);
}

@mixin blur-inline-edges() {
	mask-image: linear-gradient(90deg, transparent 0%, black 10%, black 20%, black 80%, black 90%, transparent 100%);
}

@mixin pad-edges() {
	// make sure content doesn't hit the edges on small viewports or when full-width,
	// while also leaving enough space to adjust elements with nested section padding so their content aligns with the rest of the page
	border-inline: var(--spacing-xl) solid transparent;
	box-sizing: border-box;
}

// Use unpad-edges() to "break out" a specific element (such as an image) from a parent with pad-edges()
@mixin unpad-edges() {
	width: calc(100% + var(--spacing-xl) * 2);
	margin-inline: calc(var(--spacing-xl) * -1);
}

@mixin breakout() {
	// TODO: Update this
}

@mixin line-clamp($lineCount) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lineCount;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin active-link() {
	text-decoration: underline;
	text-decoration-thickness: 1px; // Edge default is thicker which looks weird with lighter fonts
	text-decoration-color: currentColor;
}

@mixin link-underline-on-hover() {
	@include active-link();
	text-decoration-color: color-mix(in srgb, currentColor 40%, transparent);
	transition: all 0.2s ease-in-out;

	&:hover, &:focus, &:active {
		text-decoration-color: currentColor;
		opacity: 1;
	}

	&:has(> span) {
		text-decoration: none;

		> span:not(:has(svg)):not(:has(i)) {
			@include active-link();
			transition: all 0.2s ease-in-out;
			text-decoration-color: transparent;
		}

		&:hover, &:focus, &:active {
			> span:not(:has(svg)):not(:has(i)) {
				text-decoration-color: currentColor;
			}
		}
	}
}

@mixin curved-shadow() {
	position: relative;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	outline: 1px solid transparent; // smooths jagged edges that the transform + shadow causes in Firefox
	// create new stacking context - stops content from becoming blurry
	isolation: isolate;
	transform: translateZ(0);

	// Workaround for stacking issue that makes the before and after sit on top once anti blurring / jagged edge fixes are applied
	@each $colorName in map-keys($colors) {
		&[data-background="#{$colorName}"] {
			> div {
				background: var(--color-#{$colorName});
				position: relative;
				z-index: 10;
			}
		}
	}

	&:before,
	&:after {
		left: 1rem;
		right: 1rem;
		content: '';
		position: absolute;
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
		border-radius: 100%;
		height: 20px;
		z-index: -1;
		transform: translateZ(-1px); // Fixes stacking context issue caused by transforms on the element this mixin is applied to
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

@mixin lead-paragraph() {
	font-weight: var(--font-weight-bold);
	font-size: calc(1rem * var(--typescale));
	line-height: 1.2;
	color: var(--theme-color);
	text-wrap: balance;

	a {
		color: inherit;

		&:hover, &:focus, &:active {
			color: color-mix(in hsl, currentColor, black 20%);
		}
	}
}

@mixin accent-heading($color: primary) {
	background: var(--color-#{$color});
	color: contrast-color(var(--color-#{$color}));
	padding: var(--spacing-xs) var(--spacing-lg);
	width: fit-content;
	line-height: 1;
	font-family: var(--font-family-accent);
	font-size: var(--font-size-lg);
	transform: rotate(-2deg) translateX(-1rem);

	@if $color == 'white' {
		color: var(--color-accent);
	}
}

@mixin follows-adjacent-sibling($selector) {
	#{$selector} + & {
		@content;
	}
}

@mixin grid-layout($wait-for-min-items: true) {
	width: 100cqw;
	min-width: 100%;
	display: grid;
	gap: var(--spacing-md);
	grid-template-columns: 1fr;

	&[data-max-per-row] {
		// Align according to parent's hAlign if applicable,
		// if the items don't take up the full space (e.g., 3 items sized for 4 per row)
		justify-content: inherit;
	}

	&[data-max-per-row="2"], &[data-max-per-row="4"] {
		@include container-width-up('small') {

			@if $wait-for-min-items {
				// Only go to 2 columns if there are 2 or more items
				&:has(> :nth-child(2)) {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
	}

	&[data-max-per-row="4"] {
		@include container-width-up('narrower') {
			grid-template-columns: repeat(auto-fit, 25%); // this ensures alignment works correctly when there's fewer

			@if $wait-for-min-items {
				// Only go to 4 column grid if there are actually 4 or more items
				&:has(> :nth-child(4)) {
					grid-template-columns: repeat(4, 1fr);
				}
			}
		}
	}

	&[data-max-per-row="3"], &[data-max-per-row="5"], &[data-max-per-row="6"] {
		@include container-width-up('small') {
			grid-template-columns: repeat(auto-fit, 33%); // this ensures alignment works correctly when there's fewer

			@if $wait-for-min-items {
				// Only go to 4 column grid if there are actually 3 or more items
				&:has(> :nth-child(3)) {
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}
	}

	&[data-max-per-row="5"] {
		@include container-width-up('narrower') {
			grid-template-columns: repeat(auto-fit, 20%); // this ensures alignment works correctly when there's fewer

			@if $wait-for-min-items {
				// Only go to 5 column grid if there are actually 5 or more items
				&:has(> :nth-child(5)) {
					grid-template-columns: repeat(5, 1fr);
				}
			}
		}
	}

	&[data-max-per-row="6"] {
		@include container-width-up('narrower') {
			grid-template-columns: repeat(auto-fit, 16.66%); // this ensures alignment works correctly when there's fewer

			@if $wait-for-min-items {
				// Only go to 6 column grid if there are actually 6 or more items
				&:has(> :nth-child(6)) {
					grid-template-columns: repeat(6, 1fr);
				}
			}
		}
	}
}